<!-- Paulius Malcius - pam226 -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Calendar Web App</title>
    <link rel="stylesheet" href="../styles/styles.css"/>
</head>
<body>
    <div id="container">
        <table>
            <thead>
                <tr>
                    <th class="btn">
                        <a href="/backyear">&lt;&lt;</a>
                    </th>
                    <th class="btn">
                        <a href="/backmonth">&lt;</a>
                    </th>
                    <th class="title" colspan="3"><%- header %></th>
                    <th class="btn">
                        <a href="/forwardmonth">&gt;</a>
                    </th>
                    <th class="btn">
                        <a href="/forwardyear">&gt;&gt;</a>
                    </th>
                </tr>
                <tr class="days">
                    <th>SU</th>
                    <th>MO</th>
                    <th>TU</th>
                    <th>WE</th>
                    <th>TH</th>
                    <th>FR</th>
                    <th>SA</th>
                </tr>
            </thead>
            <tbody>
                <%- calendar %>
            </tbody>
        </table>
    </div>
    <script src="../scripts/script.js"></script>
</body>
</html>
